.row {
    display: flex;
    overflow: hidden;
    /*flex-wrap: wrap;*/
}

.chart-frame {
    overflow: hidden;
    border: solid 1px brown;
    margin: 5px;
    flex: 1;
    position: relative;
    transition: flex-grow 1s;
}

.chart-frame:hover {
    flex-grow: 2;
}